{% extends 'base.html' %}

{% block navbar %}
    {% include 'partials/navbar.html' %}
{% endblock %}

{% block sidebar %}
    {% include 'partials/sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Panel Admin</a></li>
                                    <li class="breadcrumb-item active">Inscripciones</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Inscripciones</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card-box">

                            <div class="form-group px-4 pt-2">
                                <i class="fas fa-user-plus fa-2x"></i>
                                <h3 class="fs-1 d-inline-block ml-1">Crear nueva inscripción</h3>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <form class="px-4 pt-2 pb-2" method="POST">
                                        {{ form.hidden_tag() }}
                                        {% with messages = get_flashed_messages(with_categories=true) %}
                                            {% if messages %}
                                                <div class="alert-container">
                                                    {% for category, message in messages %}
                                                        <div class="alert alert-{{ 'danger' if category == 'error' else category }} alert-dismissible fade show"
                                                             role="alert">
                                                            <button type="button" class="close" data-dismiss="alert"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                            {{ message }}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        {% endwith %}

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="estudiante_codigo"
                                                           class="control-label">Estudiante</label>
                                                    {{ form.estudiante_codigo(class="form-control", id="estudiante_codigo") }}
                                                    {% for error in form.estudiante_codigo.errors %}
                                                        <span class="text-danger">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="curso-id" class="control-label">Curso</label>
                                                    {{ form.curso_id(class="form-control", id="curso-id") }}
                                                    {% for error in form.curso_id.errors %}
                                                        <span class="text-danger">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="gestion_id" class="control-label">Gestión</label>
                                                    {{ form.gestion_id(class="form-control", id="gestion_id") }}
                                                    {% for error in form.gestion_id.errors %}
                                                        <span class="text-danger">{{ error }}</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group  m-b-0">
                                            <a href="{{ url_for('admin.inscripcion.listar_inscripciones') }}"
                                               class="btn btn-danger waves-effect m-l-5">
                                                Cancelar
                                            </a>
                                            {{ form.submit(class="btn btn-primary waves-effect waves-light") }}
                                        </div>
                                    </form>
                                </div>
                                <div class="col-6">
                                    <div id="curso-info" class="card p-3"
                                         style="border: 1px solid #ddd; border-radius: 5px;">
                                        <h4><strong>Detalles del Curso</strong></h4>
                                        <p><strong>Nombre:</strong> <span id="curso-nombre">Seleccione un curso</span>
                                        </p>
                                        <p><strong>Cupo Máximo:</strong> <span id="curso-cupo">-</span></p>
                                        <p><strong>Turno:</strong> <span id="curso-turno">-</span></p>
                                        <p><strong>Grado:</strong> <span id="curso-grado">-</span></p>
                                        <p><strong>Paralelo:</strong> <span id="curso-paralelo">-</span></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div> <!-- container -->

        </div> <!-- content -->

        {% include 'partials/footer.html' %}

    </div>
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const cursoSelect = document.getElementById('curso-id');
            const cursoInfo = {
                nombre: document.getElementById('curso-nombre'),
                cupo: document.getElementById('curso-cupo'),
                turno: document.getElementById('curso-turno'),
                grado: document.getElementById('curso-grado'),
                paralelo: document.getElementById('curso-paralelo'),
            };

            cursoSelect.addEventListener('change', () => {
                const cursoId = cursoSelect.value;

                if (cursoId) {
                    fetch(`/admin/cursos/${cursoId}`)
                        .then(response => response.json())
                        .then(data => {
                            cursoInfo.nombre.textContent = data.nombre;
                            cursoInfo.cupo.textContent = data.cupo_maximo;
                            cursoInfo.turno.textContent = data.turno;
                            cursoInfo.grado.textContent = data.grado;
                            cursoInfo.paralelo.textContent = data.paralelo;
                        })
                        .catch(error => {
                            console.error('Error al obtener los detalles del curso:', error);
                        });
                } else {
                    // Restablecer los valores si no hay un curso seleccionado
                    cursoInfo.nombre.textContent = 'Seleccione un curso';
                    cursoInfo.cupo.textContent = '-';
                    cursoInfo.turno.textContent = '-';
                    cursoInfo.grado.textContent = '-';
                    cursoInfo.paralelo.textContent = '-';
                }
            });
        });
    </script>

{% endblock %}

