{% extends 'base.html' %}

{% block navbar %}
    {% include 'partials/navbar.html' %}
{% endblock %}

{% block sidebar %}
    {% include 'partials/sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Panel Admin</a></li>
                                    <li class="breadcrumb-item active">Turnos</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Turnos</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card-box">

                            <div class="form-group px-4 pt-2">
                                <i class="fas fa-pencil-alt fa-2x"></i>
                                <h3 class="fs-1 d-inline-block ml-1">Editar turno</h3>
                            </div>

                            <form class="px-4 pt-2 pb-2" method="POST">
                                {{ form.hidden_tag() }}
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        <div class="alert-container">
                                            {% for category, message in messages %}
                                                <div class="alert alert-{{ 'danger' if category == 'error' else category }} alert-dismissible fade show"
                                                     role="alert">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endwith %}

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="nombre" class="control-label">Nombre</label>
                                            {{ form.nombre(class="form-control", id="nombre") }}
                                            {% for error in form.nombre.errors %}
                                                <span class="text-danger">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="hora_inicio" class="control-label">Hora de Inicio</label>
                                            {{ form.hora_inicio(class="form-control", id="hora_inicio") }}
                                            {% for error in form.hora_inicio.errors %}
                                                <span class="text-danger">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="hora_fin" class="control-label">Hora de Finalización</label>
                                            {{ form.hora_fin(class="form-control", id="hora_fin") }}
                                            {% for error in form.hora_fin.errors %}
                                                <span class="text-danger">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group  m-b-0">
                                    <a href="{{ url_for('admin.turno.listar_turnos') }}"
                                       class="btn btn-danger waves-effect m-l-5">
                                        Cancelar
                                    </a>
                                    {{ form.submit(class="btn btn-primary waves-effect waves-light") }}
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div> <!-- container -->

        </div> <!-- content -->

        {% include 'partials/footer.html' %}

    </div>
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock %}

